body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

header {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#tripPlan {
    grid-column: 1;
    margin-left: 80px;
}

#tripForm {
    font-size: 25px;
}

#tripForm a {
    text-decoration: none;
    color: black;
}

#tripForm a:hover {
    color: red;
    text-decoration: underline;
}

#tripForm input {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
    font-size: 25px;
}

#stop2 {
    display: none;
}

#stop3 {
    display: none;
}

#stop4 {
    display: none;
}

#stop5 {
    display: none;
}


.delStopButton {
    border-radius: 50%;
    width: 50px;
}

.tripBody {
    grid-template-columns: 1fr;
}

.tripBody header {
    text-align: left;
    margin-left: 100px;
    margin-top: 80px;
    color: black;
    font-size: 40px;
}

.tripStep {
    font-size: 30px;
    color: green;
    font-weight: bold;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.tripSummary {
    font-size: 35px;
    color: black;
    margin-left: 80px;
    font-family: sans-serif;
}

.minutesSummary {
    color: blue;
    font-weight: bold;
}